body {
  background-color: rgb(2, 132, 172);
  font: normal 20pt Arial;
  color: white;
}
header {
  text-align: center;
  font: bold 25pt Arial;
  margin-top: 200px;
  margin-bottom: 50px;
}
.bloco {
  background-color: white;
  width: 500px;
  min-height: 200px;
  border-radius: 10px;
  height: auto;
  padding: 15px;
  margin: auto;
  color: rgb(0, 0, 0);
  align-items: center;
  align-content: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
}
h1 {
  font: bold 15pt Arial;
}
input {
  font: normal 12pt Arial;
}
footer {
  font-style: italic;
  text-align: center;
}
